
/*LiberationMono-Regular*/
@font-face {
    font-family: 'LiberationMono-Regular';
    src: url('LiberationMono-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('LiberationMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('LiberationMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('LiberationMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberationMono-Regular.svg#LiberationMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    }
