
/*LiberationSans-Bold*/
@font-face {
    font-family: 'LiberationSans-Bold';
    src: url('LiberationSans-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('LiberationSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('LiberationSans-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('LiberationSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberationSans-Bold.svg#LiberationSans-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    }
