
/*LiberationSans-BoldItalic*/
@font-face {
    font-family: 'LiberationSans-BoldItalic';
    src: url('LiberationSans-BoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('LiberationSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
         url('LiberationSans-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
         url('LiberationSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberationSans-BoldItalic.svg#LiberationSans-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    }
